header {
    box-sizing: border-box;

    width: 100vw;
    height: 4.5rem;

    display: flex;
    flex-direction: row;
    align-items: flex-end;

    background-color: #FFFDFE;

    border-bottom: 1px solid #BEBEBE;

    padding-top: 1.4rem;
    padding-bottom: 1.1rem;

    /* position: fixed;
    top: 0;
    left: 0; */

    z-index: 10000;

    font-family: 'Pretendard-Bold';
    font-size: 1.035rem;
}

header > * {
    margin-left: 1.5rem;

    color: #333333;
}
header .logo {
    height: 2rem;
}
header > .margin {
    flex-grow: 1;
}
header > .navlink {
    text-decoration: none;
    color: black;
}

header > .header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 1.5rem;
}

@media (max-width: 520px) {
    header {
        align-items: center;
    }
    header > * {
        margin-left: 1rem;
    }
    header > .header-right {
        margin-right: 1rem;
    }
}
@media (max-width: 340px) {
    header > * {
        margin-left: 0.6rem;
    }
    header > .header-right {
        margin-right: 0.6rem;
    }
}

header > .header-right > .logout {
    color: #DD0D75;
    font-size: 0.67rem;
    margin-bottom: 0.1rem;
}