.image-preview-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    /* From https://css.glass */
    /* background: rgba(255, 255, 255, 0.1); */
    background: #FFEBF530;
    /* box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    z-index: 20000;
}

.image-preview {
    border-radius: 2rem;
    overflow: hidden;

    position: relative;
}

.image-preview > img {
    /* width: 25rem;
    height: 25rem; */
    width: min(70vw, 70vh);
    height: min(70vw, 70vh);
    aspect-ratio: 1;
}

.image-preview > .bottom-bar {
    height: 10%;
    color: white;

    position: absolute;
    bottom: 4%;
    left: 4%;
    right: 4%;

    display: flex;
    flex-direction: row;
    align-items: center;
}
.image-preview > .bottom-bar > .title-contents-box {
    flex-grow: 1;
    height: 100%;

    border: 1px solid blue;
    background-color: red;
    margin-right: 5%;
}

.image-preview > .close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    color: white;
}
.image-preview > .close > img {
    width: 1rem;
}