.imageview {
    border: .9px solid #BEBEBE;

    border-radius: 1rem;
    padding: 1.35rem;

    display: flex;
    flex-direction: row;

    position: relative;
    background: #FFFDFE;
}

.imageview > .thumbnail > img {
    width: 7.8rem;
    height: 7.8rem;

    min-width: 6.5rem;

    border-radius: 0.8rem;

    border: .9px solid #BEBEBE;
    margin-right: 1.346rem;
    margin-left: .31rem;
    margin-top: .31rem;
    margin-bottom: .31rem;

    border: .7px solid #BEBEBE;

    /* 카드 크기 조절하는 곳이송 */
}

.imageview > .rightbox {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.imageview > div > .title {
    color: #DD0D75;
    font-size: 1.3rem;

    margin-top: 0.2rem;
    margin-bottom: 0.2rem;

    /* oXong!! <-- ???????? */
}

.imageview > div > .content {
    color: #929292;
    font-size: 0.8rem;
}

.imageview > div > .margin {
    flex-grow: 1;
}

.imageview > div > button {
    background-color: #DD0D75;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    border: .5px solid #BEBEBE;
    color: white;
}

.imageview > div > .disabled {
    background-color: #F9F9F9;
    color: #333333;
    /* cursor: default; unlike도 누를수 있어야 함*/
}

.imageview > .floatbox {
    padding: 0.5rem;
    background-color: #FFFDFE;

    position: absolute;

    bottom: 1.1rem;
    left: 1.1rem;

    display: flex;
    flex-direction: row;
    font-size: 0.8rem;

    border: .6px solid #BEBEBE;
    border-radius: 0.5rem;
}

.imageview > .floatbox > img {
    height: 0.75rem;
    color: #333333;
    margin-left: .13rem;
    margin-right: .065rem;
}

.imageview > .floatbox > .hearts {
    margin-right: .13rem;
}