.titlebox {
    display: flex;
    flex-direction: column;

    /* width: fit-content; */
    width: 100%;
}

.titlebox > .title {
    font-size: 1.2rem;
    margin: 0.5rem;
    margin-left: 0.6rem;

    color: #333333;
}